GuzmanEx20/config/airline.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT flightlist (flight+)>
<!ELEMENT flight (passengers+)>
<!ELEMENT passenger (#PCDATA)>
<!ELEMENT passengers (passenger+)>

<!ATTLIST flight number CDATA #REQUIRED>
<!ATTLIST flight origin (BOS | SJU | SFO | JFK | DCA | MAD) #REQUIRED>
<!ATTLIST flight dest (BOS | SJU | SFO | JFK | DCA | MAD) #REQUIRED>

<!ATTLIST passengers date CDATA #REQUIRED>

<!ATTLIST passenger name CDATA #REQUIRED>
<!ATTLIST passenger seat CDATA #REQUIRED>